@model IEnumerable<Lab2.Models.Book>

@using (Html.BeginForm("AddBook", "Sages", "POST"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <input type="hidden" name="SageId" value="@ViewBag.AddBookToSageId" />

        <div class="form-group">
            @foreach (var book in Model)
            {
                <label>
                    <input type="checkbox" value="@book.IdBook" name="Books" />
                    @book.name
                </label>
                <hr/>
            }
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}