<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Books", "Index", "Books")</li>
        <li>@Html.ActionLink("Sages", "Index", "Sages")</li>
    </ul>
    @Html.Partial("_LoginPartial")
    @Html.Partial("_CartPartial")
</div>
